{% extends "ArdetemSfereBundle:Default:detail.layout.html.twig" %}
{% block page_detail %}
        <h1 class="componentheading"> {{ category.name }}</h1>
        <div>{{ category.description }}</div>
        <div id="category_list" >
            {% for subCat in category.subCategories %}
                <div class="browse_separator">
                    <div class="browseCategoryContainer">
                        <a href="{{ path("sfere_subcategory_detail", {"slug":subCat.slug}) }}">
                            <img title="{{ subCat.resume }}" src="{{ base_url }}{{ subCat.image}}"/>
                            <div class="category_name">{{ subCat.name }}</div>      </a></div>
                </div>
            {% endfor %}
        </div>
{% endblock %}