<li><a>{{ 'intro.category.name'| trans }}</a>

    <div class="submenu">

        <ul class="list_submenu">
            {% for category in categories %}
            <li>
                <a href="{{ path('sfere_category_detail',{'id':category.id}) }}">
                    <span class="icon_products" id="icon_analogica"></span>
                <ul>
                {% for subcategory in category.subCategories %}
                    <li><a href="{{ path('sfere_subcategory_detail',{'id': subcategory.id}) }}">{{ subcategory.name }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}

                <a href="{{ path('sfere_product',{'category': 'electronic'}) }}">{{ 'intro.product.electronic'|trans }}</a>


                    <li><a href="http://www.visiotech.es/fr/produits/camera-analogique/cameras-dome">Caméras Dôme</a>
                    </li>
                    <li><a href="http://www.visiotech.es/fr/produits/camera-analogique/domes-motorises">Dômes
                            Motorisés</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/camera-analogique/mini-cameras">Mini Caméras</a>
                    </li>
                    <li><a href="http://www.visiotech.es/fr/produits/camera-analogique/cameras-dissimulees">Caméras
                            Dissimulées</a></li>


            <li><a href="{{ path('sfere_product',{'category': 'atex'}) }}">{{ 'intro.product.atex'|trans }}</a><span class="icon_products"
                                                                                                                     id="icon_dvr"></span>
                <ul>
                    <li><a href="http://www.visiotech.es/fr/produits/dvr/h-series">H-SERIES</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/dvr/cpplus">CPPLUS</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/dvr/videograbadores-avtech">AVTECH</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/dvr/kits-economiques">KITS économiques</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/dvr/cartes-d-acquisition-video">Cartes d
                            Acquisition Vidéo</a></li>
                </ul>
            </li>
            <li><a href="http://www.visiotech.es/fr/produits/cameras-ip">IP</a><span class="icon_products"
                                                                                     id="icon_ip"></span>
                <ul>
                    <li><a href="http://www.visiotech.es/fr/produits/cameras-ip/h-series">H-SERIES</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/cameras-ip/cpplus">CPPLUS</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/cameras-ip/avtech">AVTECH</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/cameras-ip/apexis">APEXIS</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/cameras-ip/easyn">EASYN</a></li>
                </ul>
            </li>
            <li><a href="http://www.visiotech.es/fr/produits/camaras-hd-sdi">HD-SDI</a><span class="icon_products"
                                                                                             id="icon_hdsdi"></span>
                <ul>
                    <li><a href="http://www.visiotech.es/fr/produits/camaras-hd-sdi/cameras">Caméras</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/camaras-hd-sdi/enregistreurs">Enregistreurs</a>
                    </li>
                    <li><a href="http://www.visiotech.es/fr/produits/camaras-hd-sdi/cartes-d-acquisition">Cartes d
                            Acquisition</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/camaras-hd-sdi/accessoires-hd-sdi">Accessoires</a>
                    </li>
                </ul>
            </li>
            <li><a href="http://www.visiotech.es/fr/produits/alarme">Alarme</a><span class="icon_products"
                                                                                     id="icon_alarma"></span>
                <ul>
                    <li><a href="http://www.visiotech.es/fr/produits/alarme/g5">G5</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/alarme/accessoires">Accessoires</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/alarme/accesorios">Accesorios</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list_submenu list_bottom">
            <li><a href="http://www.visiotech.es/fr/produits/accessoires">Accessoires</a><span class="icon_products"
                                                                                               id="icon_accesorios"></span>
                <ul>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/cables">Câbles</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/video-par-utp">Vidéo par UTP</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/supports">Supports</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/solutions-ip">Solutions IP</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/solutions-sans-fil">Solutions Sans
                            fil</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/signalisation">Signalisation</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/microphones">Microphones</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/cameras-sans-fil">Caméras Sans Fil</a>
                    </li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/eclairages">Éclairages</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/outils">Outils</a></li>
                    <li>
                        <a href="http://www.visiotech.es/fr/produits/accessoires/sources-d-alimentation">Alimentation</a>
                    </li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/distributeurs-de-video">Distributeurs
                            de Vidéo</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/cameras-factices">Caméras Factices</a>
                    </li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/conectores">Conectores</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/caissons">Caissons</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/stockage-et-backup">Stockage</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/moniteurs">Moniteurs</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/objectifs">Objectifs</a></li>
                    <li><a href="http://www.visiotech.es/fr/produits/accessoires/enregistreurs-espion">Enregistreurs
                            Espion</a></li>
                </ul>
            </li>
            <li><a href="http://www.visiotech.es/files/Outlet_CCTV_Visiotech_es.xls">Outlet</a><span
                        class="icon_products" id="icon_outlet"></span>
                <ul>
                    <li><a href="http://www.visiotech.es/files/Outlet_CCTV_Visiotech_es.xls">Liste Excel</a></li>
                </ul>
            </li>
        </ul>
    </div>

</li>