{% extends "ArdetemSfereBundle::layout.html.twig" %}

{% block slider %}
    <div id="slider">
        <ul class="rslides" id="slider1" style="max-width: 960px;">
            <li id="rslides1_s0" class=""
                style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 800ms ease-in-out; transition: opacity 800ms ease-in-out;">
                <img src="{{ asset('bundles/ardetemsfere/images/bandeau/slide-1-'~ app.request.get('_locale') ~ '.jpg') }}">
            </li>
            <li id="rslides1_s1" class="rslides1_on"
                style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; -webkit-transition: opacity 800ms ease-in-out; transition: opacity 800ms ease-in-out;">
                <img src="{{ asset('bundles/ardetemsfere/images/bandeau/slide-2-'~ app.request.get('_locale') ~ '.jpg') }}">
            </li>
        </ul>
    </div>
{% endblock %}

{% block page_content %}
    <div id="page_style">
        <div>
            <table class="contentpaneopen">
                <tr>
                    <td class="contentheading" width="100%">
                        {{ 'intro.company.name' | trans }}
                    </td>
                </tr>
            </table>
            <table class="contentpaneopen">
                <tr>
                    <td valign="top" class="presentation">
                        <p id="intro-text" style="text-align: justify;"><span style="font-size: 12pt; color: #808080;">
                        <strong>{{ 'intro.company.presentation.title' | trans }}</strong></span></p>

                        {{ 'intro.company.presentation.text'| trans | raw }}
                        <p style="text-align: justify;">
                    <span style="font-size: 12pt; color: #808080;">
                <strong>{{ 'intro.company.title'|trans }}</strong>
                    </span>
                        </p>
                        <p style="text-align: justify;">
                            {% image '@ArdetemSfereBundle/Resources/public/images/bat1.jpg' %}
                            <img src="{{ asset_url }}" alt="Example"/>
                            {% endimage %}
                            >
                        </p>
                    </td>
                </tr>
            </table>
            <span class="article_separator">&nbsp;</span>
        </div>
    </div>
{% endblock %}