{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
    <div id="page_style">
        <div>
            <div class="componentheading">
                {{ "news.title" | trans }}
            </div>
            <table class="blog" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td valign="top" width="100%" class="article_column">
                                    {% for element in news %}
                                    <table class="contentpaneopen">
                                        <tbody>
                                        <tr>
                                            <td valign="top" colspan="2">
                                                <img style="float:left" height="167" width="167"
                                                     src="{{ base_url }}{{ element.image }}" alt="{{ element.name }}">

                                                <div class="description">
                                                    <div class="title"><a
                                                                href="{{ path('sfere_news_show', {"id":element.id}) }}"
                                                                target="_blank">{{ element.name }}</a></div>
                                                    <div class="intro">{{ element.resume }}</div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <span class="article_separator">&nbsp;</span>
                                    {% endfor %}
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}