{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
    <div id="page_style">
        <div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <h3> {{ 'Identity' | trans }}</h3>
            <table class="table">
                <tr>
                    <td>{{ 'User name' | trans }}</td>
                    <td>{{ profile.user.username }}</td>
                </tr>
                <tr>
                    <td>{{ 'Email' | trans }}</td>
                    <td>{{ profile.user.email }}</td>
                </tr>
                <tr>
                    <td>{{ 'Last login' | trans }}</td>
                    <td>{{ profile.user.lastLogin |date("m/d/Y") }}</td>
                </tr>
                <tr>
                    <td>{{ 'Expires at' |trans }}</td>
                    <td>{{ profile.user.expiresAt |date("m/d/Y") }}</td>
                </tr>
            </table>
            <br>
            <p>
                <a  class="button"  type="button" href="{{ path('fos_user_profile_edit_authentication') }}"> {{ 'profile.edit_authentification' | trans }}</a>
            </p>
            <h3>{{ 'Profile' | trans }}</h3>
            <table class="specs" border="0" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                    <th width="30%"></th>
                    <th width="70%"></th>
                </thead>
                <tbody>
                <tr align="left" valign="middle">
                    <td><strong>{{ 'Company name'| trans }}</strong></td>
                    <td> {{ profile.companyName }} </td>
                </tr>
                <tr align="left" valign="middle">
                    <td ><strong>{{ 'Activity'| trans }}</strong></td>
                    <td> {{ profile.activity }} </td>
                </tr>
                <tr align="left" valign="middle">
                    <td><strong>{{ 'Mobile' | trans }}</strong></td>
                    <td >{{ profile.mobile }}</td>
                </tr>
                <tr align="left" valign="middle">
                    <td><strong>{{ 'Company address' | trans }}</strong></td>
                    <td >{{ profile.companyAddress }}</td>
                </tr>
                <tr align="left" valign="middle">
                    <td ><strong>{{ 'Post code' | trans }}</strong></td>
                    <td ">{{ profile.postCode }}</td>
                </tr>
                <tr align="left" valign="middle">
                    <td ><strong>{{ 'City' | trans }}</strong></td>
                    <td >{{ profile.city }}</td>
                </tr>
                <tr align="left" valign="middle">
                    <td ><strong>{{ 'Country' | trans }}</strong></td>
                    <td >{{ profile.country }}</td>
                </tr>
                <tr align="left" valign="middle">
                    <td><strong>{{ 'Url' | trans }}</strong></td>
                    <td>{{ profile.url }}</td>
                </tr>

                </tbody>
            </table>
            <br>
            <p>
                <a type="button"  class="button">{{ 'profile.edit'|trans }}</a>
            <p>
        </div>
    </div>
{% endblock %}