{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
    <div id="page_style">
        <div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div>
                <form action="{{ path("sfere_profile_edit") }}" method="post" role="form"
                      class="form-horizontal">
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="submit" class="button"
                                   value="{{ 'form.submit'|trans }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}