{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
    <div id="page_style">
        <div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
                <form action="{{ path("sfere_profile_edit") }}" method="post" role="form"
                      class="form-horizontal">
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="submit" class="button"
                                   value="{{ 'form.submit'|trans }}"/>
                        </div>
                    </div>
                </form>
                <h3>{{  "You can also" | trans }} :</h3>
                <p>
                    <a href="{{ path('fos_user_profile_edit_authentication') }}"> {{ 'profile.edit_authentification' | trans }}</a>
                </p>
        </div>
    </div>
{% endblock %}