<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-fr" lang="fr-fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords"
          content="videovigilancia, cctv, cámaras analógicas, cámaras IP, videograbadores, dahua, hikvision, avtech, apexis, distribuidor, mayorista, accesorios, cables"/>
    <meta name="title" content="Entreprise"/>
    <meta name="author" content="Administrator"/>
    <meta name="description"
    <meta name="generator" content=""/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Entreprise - Sfere - Vente en gros de cameras de surveillance, videosurveillance et de CCTV</title>
    <link href="{{ base_url }}favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    {% stylesheets
    "bundles/ardetemsfere/css/*"
    filter='cssrewrite,?yui_css'
    output='css/core.css' %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block sub_css %}
    {% endblock %}



</head>
<body>
<div id="header">

    <div class="wrap" style="position:relative">


        <div id="menu_top">
            <ul class="menu-nav">
                <li class="item141">
                    {% if app.user %}
                        <a href="{{ path('sfere_profile_show') }}" ><span>{{ 'menu.profile'|trans }}</span></a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}"><span>{{ 'menu.login' | trans }}</span></a>
                    {% endif %}

                </li>
            </ul>
            {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
            {% set esParams = params|merge({'_locale': 'es'}) %}
            {% set enParams = params|merge({'_locale': 'en'}) %}
            {% set frParams = params|merge({'_locale': 'fr'}) %}
            {% set itParams = params|merge({'_locale': 'it'}) %}
            {% set cnParams = params|merge({'_locale': 'zh_CN'}) %}
            <div id="jflanguageselection">
                <select name="lang" class="jflanguageselection" size="1"
                        onchange="document.location.replace(this.value);">
                    <option value="{{ path(app.request.attributes.get('_route'), enParams) }}"   {% if app.request.get('_locale') == 'en' %} selected="selected" {% endif %}>
                        {{ 'menu.language.en' |trans }}
                    </option>
                    <option value="{{ path(app.request.attributes.get('_route'), esParams) }}"   {% if app.request.get('_locale') == 'es' %} selected="selected" {% endif %}>
                        {{ 'menu.language.es' |trans }}
                    </option>
                    <option value="{{ path(app.request.attributes.get('_route'), frParams) }}"  {% if app.request.get('_locale') == 'fr' %} selected="selected" {% endif %} >
                        {{ 'menu.language.fr'| trans }}
                    </option>
                    <option value="{{ path(app.request.attributes.get('_route'), cnParams) }}"  {% if app.request.get('_locale') == 'zh_CN' %} selected="selected" {% endif %} >
                        {{ 'menu.language.zh_CN' | trans}}
                    </option>
                    <option value="{{ path(app.request.attributes.get('_route'), itParams) }}"  {% if app.request.get('_locale') == 'it' %} selected="selected" {% endif %} >
                        {{ 'menu.language.it' | trans }}
                    </option>
                </select>
            </div>
            <noscript><a href="/es/"><span lang="es" xml:lang="es">Español</span></a>&nbsp;
                <a href="/fr/"><span lang="fr" xml:lang="fr">Française</span></a>&nbsp;
                <a href="/cn/"><span lang="pt" xml:lang="pt">chinese</span></a>&nbsp;
                <a href="/it/"><span lang="it" xml:lang="it">Italiano</span></a>&nbsp;
            </noscript>
            <!--Joom!fish V2.0.3 (Flash)-->
            <!-- &copy; 2003-2009 Think Network, released under the GPL. -->
            <!-- More information: at http://www.joomfish.net -->

        </div>

        <a href="{{ path('sfere_home') }}">
            {% image '@ArdetemSfereBundle/Resources/public/images/logo.png'
            output='/images/sfere.jpg' %}
            <img class="header-logo" src="{{ asset_url }}" alt="SFERE"/>
            {% endimage %}
           </a>


        <nav>
            <div id="menu_icon"></div>
            <!--<div id="login_icon"></div> -->


            <ul id="menu">
                <li><a href="{{ path('sfere_home') }}" class="active">{{ 'intro.company.name'| trans }}</a>

                    <div class="submenu">
                        <ul class="list_submenu" id="submenu_enterprise">
                            <li><a href="{{ path('sfere_home') }}#intro-text">{{ 'intro.company.info.title'| trans }}</a>
                                {% image '@ArdetemSfereBundle/Resources/public/images/societe.png'
                                output='/images/societe.png' %}
                                <img  class="img" src="{{ asset_url }}" alt="societe">
                                {% endimage %}

                                <div class="intro_text">
                                    <a href="{{ path('sfere_home') }}#intro-text">
                                        {{ 'intro.company.info.text'|trans|raw }}
                                        <div class="read_more">{{ 'see_more'| trans }}</div>
                                    </a>
                                </div>
                            </li>
                            <li><a href="{{ path('sfere_home') }}#intro-geo">{{ 'intro.company.where.title'|trans }}
                                </a> {% image '@ArdetemSfereBundle/Resources/public/images/location.png'
                                output='/images/location.png' %}
                                <img  class="img" src="{{ asset_url }}" alt="location">
                                {% endimage %}

                                <div class="intro_text">
                                    {{ 'intro.company.where.text' | trans|raw }}
                                    <a href="{{ path('sfere_home') }}#intro-geo">
                                        <div class="read_more">{{ 'see_more'| trans }}</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a>{{ 'intro.category.name'| trans }}</a>
                    {{ render(controller('ArdetemSfereBundle:Category:menuList')) }}
                </li>
                <li><a href="{{ path('sfere_news') }}">{{ 'intro.news.name' | trans }}</a></li>
                <li><a href="{{ path('sfere_contact') }}">{{ 'intro.contact.name' | trans }}</a>
                </li>
                <li>
                    <form action="{{ path('sfere_search') }}" method="post">
                        <div class="search">
                            <input name="searchword" id="search" maxlength="20" placeholder="Rechercher Produit" alt="Buscar" class="inputbox" type="text" size="50" >
                        </div>
                        <input type="hidden" name="task" value="search">
                        <input type="hidden" name="option" value="com_search">
                        <input type="hidden" name="Itemid" value="87">
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div id="main">

    <div class="wrap">

        <div class="line_deg" id="line_l"></div>
        <div class="line_deg" id="line_r"></div>
        <div id="line_t"></div>

        {% block page_content %}{% endblock %}
    </div>
</div>

<div>

</div>

<div id="panel">
    <div id="inner_panel">
        <div class="wrap">


        </div>
    </div>
</div>
{% include 'ArdetemSfereBundle:Default:_footer.html.twig' %}


{% javascripts

"bundles/ardetemsfere/js/jquery-126.js"
"bundles/ardetemsfere/js/jceutilities-212.js"
"bundles/ardetemsfere/js/mootools.js"
"bundles/ardetemsfere/js/caption.js"
filter='?yui_js'
output="js/core.js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript"
        src="http://www.visiotech.es/plugins/system/shadowbox/min/index.php?g=sb&ad=base&lan=en&play=img"></script>
<script type="text/javascript">
    var jcexhtmlembed = 1;
    jQuery(document).ready(function () {
        jceutilities({'popup': {'legacy': 0, 'resize': 1, 'icons': 1, 'overlay': 1, 'overlayopacity': 0.8, 'overlaycolor': "#000000", 'fadespeed': 500, 'scalespeed': 500, 'width': 640, 'height': 480, 'theme': "standard", 'themecustom': "", 'themepath': "plugins/system/jceutilities/themes"}, 'tootlip': {'classname': "tooltip", 'opacity': 1, 'speed': 150, 'position': "br", 'offsets': "{'x': 16, 'y': 16}"}, 'imgpath': "plugins/system/jceutilities/img", 'pngfix': 0, 'wmode': 0});
    });
</script>
<script type="text/javascript">Shadowbox.init();</script>
{% javascripts
"bundles/ardetemsfere/js/embed.js"
"bundles/ardetemsfere/js/jquery-1.10.1.min.js"
"bundles/ardetemsfere/js/jquery-ui.js"
"bundles/ardetemsfere/js/responsiveslides.js"
"bundles/ardetemsfere/js/jQueryRotate.2.2.js"
"bundles/ardetemsfere/js/scripts-1.01.js"
"bundles/ardetemsfere/js/new_style.js"
"bundles/ardetemsfere/js/jquery.custom-scrollbar.js"
"bundles/ardetemsfere/js/ga.js"
filter='?yui_js'
output="js/core_2.js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block sub_js %}{% endblock %}
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<script>
    // You can also use "$(window).load(function() {"
    jQuery(document).ready(function () {

        // Slideshow 1
        $("#slider1").responsiveSlides({
            maxwidth: 960,
            manualControls: '#control_slider',
            speed: 800
        });


        //     jQuery("#scrollbar_products").customScrollbar();


    });


    /**********************TRACKING********************************/
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41126756-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    /******************************************************/

    document.createElement('header');
    document.createElement('hgroup');
    document.createElement('nav');
    document.createElement('menu');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');

</script>

</body>
</html>